@charset "utf-8";

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	outline:none!important;
}

img {
	max-width:100%;
	margin:6px;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	line-height:24px;
}

h1, h2, h3, h4, h5, h6, p {
	color:#444;
}

h1, h2, h3, h4, h5, h6 {
	margin:20px 0 10px 0;
}

h1 {
	font-size:32px;
}

h2 {
	font-size:28px;
}

h3 {
	font-size:24px;
}

h4 {
	font-size:20px;
}

h5 {
	font-size:18px;
}

h6 {
	font-size:14px;
}

.titulo-destaque {
	font-size:40px;
}

p {
	font-size:14px;
	margin-bottom:10px;
}

a {
	color:#49F;
	text-decoration:none;
}

a:hover {
	color:#27A;
}

code {
	background-color:#069;
	color:#FFF;
	padding:2px;
}

em {
	font-style:italic;
}

mark {
	background-color:transparent;
	color:#000;
}

small {
	font-size:80%;
}

blockquote {
	padding:10px 20px;
	border-left:4px solid #DDD;
}

.blockquote-reverse {
	text-align:right;
	border-right:4px solid #DDD;
	border-left:none;
}

.lead {
	font-size:22px;
}

strong {
	font-weight:600;
}

.text-left {
	text-align:left;
}

.text-center {
	text-align:center;
}

.text-right {
	text-align:right;
}

.text-justify {
	text-align:justify;
}

.text-uppercase {
	text-transform:uppercase;
}

table {
	width:100%;
	margin-bottom:10px;
}

thead {
	font-weight:bold;
	background-color:#EEE;
}

td {
	border:1px solid #DDD;
	padding:10px;
}

.table-clean thead {
	color:#666;
	background-color:transparent;
}

.table-clean tr {
	border-bottom:1px solid #DDD;
}

.table-clean td {
	border:none;
}

/* img */
.imagem-radius {
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.imagem-circulo {
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}

.imagem-miniatura {
	padding:4px;
	border:1px solid #DDD;
}

/* Form. */
input[type="text"], input[type="search"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], textarea, select {
	font-family: 'Roboto Condensed', sans-serif;
	padding:7px;
	border:1px solid #CCC;
	font-size:14px;
	color:#444;
	box-shadow:1px 1px 6px rgba(200,200,200,0.2);
	transition:border 0.5s;
	width:100%;
}

input[type="text"]:hover, input[type="search"]:hover, input[type="email"]:hover, input[type="tel"]:hover, input[type="password"]:hover, textarea:hover, select:hover {
	border:1px solid #007BAF;
}

input[type="text"]:focus, input[type="search"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
	border:1px solid #007BAF;
}

textarea {
	height:140px;
}

label {
	display:inline-block;
	margin-bottom:4px;
	line-height:22px;
	color:#444;
	font-size:14px;
}

.input-list-item {
	padding:0!important;
	background-color:#EDEDED;
	border-right:1px solid #DDD;
	border-bottom:1px solid #DDD;
	border-left:1px solid #DDD;
}

.input-list-item label {
	cursor:pointer;
	display:block;
	padding:5px 10px;
	width:100%;
	margin-bottom:0;
}

.input-list-item:nth-of-type(1) {
	border-top:1px solid #DDD;
}

.input-list-item:hover {
	background-color:#DADADA;
}

.wrapper-label {
	text-align:right;
	padding:5px!important;
}

.wrapper-label label {
	display:block;
	padding:6px 0;
	margin-bottom:0;
}

.wrapper-campo {
	padding:5px!important;
}

input[type="submit"], input[type="button"] {
	padding:12px;
	border:1px solid #BBB;
	font-size:14px;
	background-color:#EEE;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	color:#444;
	cursor:pointer;
}

input[type="submit"]:hover, input[type="button"]:hover {
	background-color:#DDD;
}

.input-inativo {
	color:#AAA!important;
	cursor:default!important;
}

[class*=bt-] {
	padding:8px!important;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	cursor:pointer;
	font-size:16px;
}

.bt-vermelho {
	border:1px solid #7F2020!important;
	background-color:#AD2F2F!important;
	color:#FFF!important;
}
.bt-vermelho:hover {
	background-color:#B23636!important;
}

.bt-azul-claro {
	border:1px solid #1F6E8E!important;
	background-color:#2F9BC1!important;
	color:#FFF!important;
}
.bt-azul-claro:hover {
	background-color:#20A1C4!important;
}

.bt-verde {
	border:1px solid #1F6B36!important;
	background-color:#249D4B!important;
	color:#FFF!important;
}
.bt-verde:hover {
	background-color:#2BA54E!important;
}

.bt-azul {
	border:1px solid #454A6A!important;
	background-color:#27A!important;
	color:#FFF!important;
}
.bt-azul:hover {
	background-color:#2580B7!important;
}

.bt-clean {
	border:1px solid #BBB!important;
	background-color:#EEE!important;
	color:#444!important;
}
.bt-clean:hover {
	background-color:#DDD!important;
}

/* Wrappers */
.wrapper-all {
	width:100%;
	height:auto;
	overflow:hidden;
}

.wrapper-estatico {
	width:1200px;
	height:auto;
	margin:0 auto;
	overflow:hidden;
}

.wrapper-fluido {
	width:100%;
	max-width:1200px;
	height:auto;
	overflow:hidden;
	margin:0 auto;
}

[class*=box-] {
	margin:20px 0;
	overflow:hidden;
}

.box-example {
	border:1px solid #CCC;
	padding:10px;
}

.box-example code {
	background-color:transparent;
	color:#444;
	padding:0;
}

.box-error {
	border-top:6px solid #AD2F2F;
	border-right:1px solid #AD2F2F;
	border-bottom:1px solid #AD2F2F;
	border-left:1px solid #AD2F2F;
	text-align:center;
}

.box-success {
	border-top:6px solid #249D4B;
	border-right:1px solid #249D4B;
	border-bottom:1px solid #249D4B;
	border-left:1px solid #249D4B;
	text-align:center;
}

.box-message {
	border-top:6px solid #27A;
	border-right:1px solid #27A;
	border-bottom:1px solid #27A;
	border-left:1px solid #27A;
	text-align:center;
}

.grupo-form {
	width:auto;
}
.grupo-form li {
	width:100%;
	padding:5px 0;
	height:auto;
	overflow:hidden;
}

/* Menus */
.menu-drop-down {
	width:100%;
	height:auto;
	overflow:hidden;
	background-color:#FFF;
	z-index:999999999999999;
}

.menu-drop-down ul {
	width:auto;
	list-style:none;
}

.menu-drop-down ul li {
	display:inline-block;
	float:left;
}

.menu-drop-down ul li a {
	display:block;
	padding:10px;
	background-color:#FFF;
	color:#444;
	font-size:14px;
	cursor:pointer;
	transition:background 0.2s;
}
.menu-drop-down ul li a:hover {
	background-color:#DDD;
}

.menu-drop-down ul li ul {
	display:none;
	position:absolute;
}

.menu-drop-down ul li:hover ul {
	display:inherit;
}

.menu-drop-down ul li ul li {
	float:none;
	display:inherit;
	border-bottom:1px solid #DDD;
	position:relative;
}

.menu-drop-down ul li ul li ul {
	display:none!important;
	position:absolute;
	width:100%;
	top:0;
	left:100%;
}

.menu-drop-down ul li ul li:hover ul {
	display:inherit!important;
}

.bt-menu-responsivo {
	display:none;
	border:none;
	font-size:16px;
	margin:10px;
}

/* (child) menu-drop-down-dark */
.menu-drop-down-dark {
	background-color:#222;
}

.menu-drop-down-dark ul li a {
	background-color:#222;
	color:#FFF;
	transition:background 0.2s;
}

.menu-drop-down-dark ul li a:hover {
	background-color:#444;
}

.menu-drop-down-dark ul li ul li {
	border-bottom:1px solid #555;
}

/* menu-lista */
.menu-lista ul {
	list-style:none;
}

.menu-lista ul li a {
	cursor:pointer;
	display:block;
	padding:0 5px;
	border-left:2px solid rgba(0,0,0,0);
}

.menu-lista ul li a:hover {
	color:#49F;
	border-left:2px solid #49F;
}

.menu-lista ul li ul {
	padding-left:10px;
}

.menu-lista ul li ul li ul {
	padding-left:10px;
}

/* menu-inline */
.menu-inline ul {
	list-style:none;
}

.menu-inline ul li {
	float:left;
	display:inline-block;
	border-right:1px solid #49F;
}

.menu-inline ul li:last-child {
	border-right:none;
}

.menu-inline ul li a {
	display:block;
	padding:0 6px;
	cursor:pointer;
}

/* Utilitários */
.hidden-desktop {
	display:none;
}

/* Ícones */
.icon-menu:before {
    content: "\e900";
}

/* Colunas */
[class*=col-] {
	float:left;
	padding:10px;
	overflow:hidden;
}

.col-1 {
	width:8.333333333333333%;
}
.col-2 {
	width:16.66666666666667%;
}
.col-3 {
	width:25%;
}
.col-4 {
	width:33.33333333333333%;
}
.col-5 {
	width:41.66666666666667%;
}
.col-6 {
	width:50%;
}
.col-7 {
	width:58.33333333333333%;
}
.col-8 {
	width:66.66666666666667%;
}
.col-9 {
	width:75%;
}
.col-10 {
	width:83.33333333333333%;
}
.col-11 {
	width:91.66666666666667%;
}
.col-12 {
	width:100%;
}

.col-offset-1 {
	margin-left:8.333333333333333%;
}
.col-offset-2 {
	margin-left:16.66666666666667%;
}
.col-offset-3 {
	margin-left:25%;
}
.col-offset-4 {
	margin-left:33.33333333333333%;
}
.col-offset-5 {
	margin-left:41.66666666666667%;
}
.col-offset-6 {
	margin-left:50%;
}
.col-offset-7 {
	margin-left:58.33333333333333%;
}
.col-offset-8 {
	margin-left:66.66666666666667%;
}
.col-offset-9 {
	margin-left:75%;
}
.col-offset-10 {
	margin-left:83.33333333333333%;
}
.col-offset-11 {
	margin-left:91.66666666666667%;
}
.col-offset-12 {
	margin-left:100%;
}

@media screen and (max-width:800px){
	[class*=col-offset-] {
		margin-left:0;
	}
	
	.col-1-tablet {
		width:12.5%;
	}
	.col-2-tablet {
		width:25%;
	}
	.col-3-tablet {
		width:37.5%;
	}
	.col-4-tablet {
		width:50%;
	}
	.col-5-tablet {
		width:62.5%;
	}
	.col-6-tablet {
		width:75%;
	}
	.col-7-tablet {
		width:87.5%;
	}
	.col-8-tablet {
		width:100%;
	}
	
	.col-offset-tablet-1 {
		margin-left:12.5%;
	}
	.col-offset-tablet-2 {
		margin-left:25%;
	}
	.col-offset-tablet-3 {
		margin-left:37.5%;
	}
	.col-offset-tablet-4 {
		margin-left:50%;
	}
	.col-offset-tablet-5 {
		margin-left:62.5%;
	}
	.col-offset-tablet-6 {
		margin-left:75%;
	}
	.col-offset-tablet-7 {
		margin-left:87.5%;
	}
	.col-offset-tablet-8 {
		margin-left:100%;
	}
	
	/* Utilitários */
	.hidden-desktop {
		display:initial;
	}
	
	.hidden-tablet {
		display:none;
	}
}

@media screen and (max-width:460px){
	[class*=col-offset-tablet-] {
		margin-left:0;
	}
	
	.col-1-mobile {
		width:25%;
	}
	.col-2-mobile {
		width:50%;
	}
	.col-3-mobile {
		width:75%;
	}
	.col-4-mobile {
		width:100%;
	}
	
	.col-offset-mobile-1 {
		margin-left:25%;
	}
	.col-offset-mobile-2 {
		margin-left:50%;
	}
	.col-offset-mobile-3 {
		margin-left:75%;
	}
	.col-offset-mobile-4 {
		margin-left:100%;
	}
	
	/* Utilitários */
	.hidden-tablet {
		display:initial;
	}
	
	.hidden-mobile {
		display:none;
	}
	
	/* Menus */	
	.bt-menu-responsivo {
		display:initial;
	}
	
	.menu-drop-down ul {
		display:none;
	}
	
	.menu-drop-down ul li {
		float:none;
		display:block;
	}
	
	.menu-drop-down ul li ul {
		position:initial;
	}
	
	.menu-drop-down ul li ul li ul {
		position:initial;
	}
}